@use "mixins" as *;

$c-PaleBlue: hsl(225, 100%, 94%);
$c-BrightBlue: hsl(245, 75%, 52%);
$c-VeryPaleBlue: hsl(225, 100%, 98%);
$c-DesaturatedBlue: hsl(224, 23%, 55%);
$c-DarkBlue: hsl(223, 47%, 23%);
$fontFam: 'Red Hat Display', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $fontFam;
    background-color: $c-PaleBlue;
}

h1 {
    color: $c-DarkBlue;
    font-size: 2.8rem;
    font-weight: 900;
    padding-bottom: 1.9rem;

    @include bp(sm) {
        font-size: 2.3rem;
    }
}

p {
    color: $c-DesaturatedBlue;
    font-weight: 500;
    line-height: 1.55;
    transform: scaleY(104%);
    text-align: center;

    @include bp(sm) {
        font-size: 90%;
    }
}

a {
    color: $c-BrightBlue;
    font-size: 1.4rem;
    font-weight: 900;
    transform: scaleY(1.04);
    transition: all .3s ease;

    &:hover {
        color: hsla(245, 75%, 52%, 0.7);
        text-decoration: none;
    }

    @include bp(sm) {
        font-size: 1.3rem;
    }
}


.btn {
    width: 100%;
    height: 5rem;
    font-family: $fontFam;
    font-weight: 900;
    font-size: 1.5rem;
    outline: none;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}


.fx {
    display: flex;

    &-jc-c {
        display: flex;
        justify-content: center;
    }

    &-jc-sb {
        display: flex;
        justify-content: space-between;
    }

    &-ai-c {
        display: flex;
        align-items: center;
    }

    &-jcai-c {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-d-col {
        display: flex;
        flex-direction: column;
    }
}